* {
  scroll-behavior: smooth;
  /*border: 1px solid red;*/
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: var(--main-bg-color);
}
:root {
  --main-bg-color: #111216;
  --basic-font-size: 18.72px;
  --middle-font-size: 26px;
  --headline-font-size: 36px;
}
/******************/
/* Érkező felület */
/******************/
#header {
  background-color: #1c1b20;
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.menuLang {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}
ul {
  padding: 0;
}
.hamburger4 {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu {
  display: flex;
  position: absolute;
  z-index: 2;
  font-size: var(--middle-font-size);
  width: 100%;
  justify-content: center;
}
.menu ul {
  display: flex;
  text-align: center;
}

.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 60%;
}

.menu a:hover {
  opacity: 100%;
  text-decoration: underline;
}
/*
.dropdown .dropbtn {
  font-size: var(--middle-font-size);
  display: flex;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  color: transparent;
}

.dropdown-content a {
  color: #1c1b20;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*/

.firstPictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.frstSnw {
  display: flex;
  height: 90vh;
  width: 35%;
  align-self: flex-end;
  background-position: center; /* A háttérkép középre igazítása */
  background-image: url("https://drive.google.com/thumbnail?id=1WiygpUlZew_hmvny79Glj4hABP8xOCLr&sz=w1000");
  background-size: cover;
}
.rtst {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 35%;
  right: 0px;
  background-position: center; /* A háttérkép középre igazítása */
  background-image: url("https://drive.google.com/thumbnail?id=1ehQB99JHSkX4NwG8bB6fAifbXSIjB5ef&sz=w1000");
  background-size: cover;
}

.ownerMain {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 400px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ownerMain h1 {
  font-size: 124px;
}
.ownerMain p {
  display: flex;
  position: relative;
  align-self: center;
  font-size: var(--headline-font-size);
}
.ownerSocial {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80px;
  margin-left: -150px;
  margin-top: 30px;
}

img {
  height: 30px;
  display: block;
  margin: 0;
}
li {
  display: inline;
  margin: 30px;
  font-style: bold;
}

/* HAMBURGER MENU */
.visuallyHidden {
  position: fixed;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
}

.hamburger4 .bar {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  display: block;
  border-radius: 4px;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

/* HAMBURGER 4 */

.hamburger4 .bar4 {
  top: 13.5px;
}

.hamburger4 .bar5 {
  bottom: 0px;
}

.hamburger4 .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger4 .bar3 {
  width: 1px;
  left: 13.5px;
}

.checkbox4:checked + label > .hamburger4 > .bar1 {
  top: 13.5px;
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2 {
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4 {
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}

/*****************/
/* Eszköz kártya */
/*****************/

#content1 {
  display: flex;
  background-color: var(--main-bg-color);
  height: 65vh;
  align-items: center;
  justify-content: center;
}
.stuffs,
.stuffs1 {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 60px;
}
.cam {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
}
.cam .card_top {
  opacity: 80%;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 350px;
  text-align: center;
}
.card_top {
  font-size: var(--headline-font-size);
  align-self: center;
  line-height: 60px;
}
span {
  color: #bcbcbc;
}
.card p {
  font-size: var(--basic-font-size);
  color: grey;
  line-height: 25px;
}

img[alt~="lens"] {
  height: 80px;
  width: auto;
  align-self: center;
}
img[alt~="photoshop"] {
  height: 80px;
  width: auto;
  align-self: center;
}

ul.photoType {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60%;
  align-self: center;
  margin-top: 20px;
  list-style: circle;
}
.photoType li {
  display: flex;
  margin: 10px;
  font-size: large;
  justify-content: center;
}
/*************/
/*  Galéria  */
/*************/
#card-pictures {
  display: flex;
  background-color: var(--main-bg-color);
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}
.galerie {
  display: flex;
  position: absolute;
  align-self: flex-start;
  height: auto;
  font-size: var(--headline-font-size);
  z-index: 2;
  left: 100px;
  opacity: 70%;
}
.blur_cards {
  display: flex;
  margin-top: 80px;
}
.blur_card1,
.blur_card2,
.blur_card3 {
  display: flex;
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 30px;
}

.blur_card1::before {
  content: "";
  background-image: url("https://drive.google.com/thumbnail?id=123fLYMITfjCx5xqmSjMea6h-1V6SYtOz&sz=w1000");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card2::before {
  content: "";
  background-image: url("https://drive.google.com/thumbnail?id=1iEB3CyoE12MhG71gGTNUNBi1fLpOnKzZ&sz=w1000");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card3::before {
  content: "";
  background-image: url("https://drive.google.com/thumbnail?id=1ZFXtQZFR-OJ7dLTrI7f0rbkLLC77uCbh&sz=w1000");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card2 button,
.blur_card1 button,
.blur_card3 button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: var(--basic-font-size);
  z-index: 2;
  cursor: pointer;
  border: 2px solid #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 70%;
  bottom: 50px;
  right: 50px;
}
button:hover {
  opacity: 100%;
}
.pic_title {
  display: flex;
  position: relative;
  height: 100px;
  font-size: 54px;
  transform: rotate(-90deg);
  top: 60px;
  left: 0;
}
.prev-btn,
.next-btn {
  display: flex;
  position: absolute;
  height: 100%;
  width: 300px;
}
.next-btn {
  right: 0px;
}
.prev-btn {
  left: 0px;
}
/******************/
/* Ajánlat kártya */
/******************/

#offerCards {
  display: flex;
  background-color: var(--main-bg-color);
  height: 65vh;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column;
}
.offer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1d2027;
  height: 450px;
  width: 400px;
  align-items: flex-start;
  padding: 20px;
  border-radius: 20px;
}

.offerHead {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 10px;
}

.offerHead p {
  font-size: var(--middle-font-size);
}

.offer img {
  height: 50px;
  width: 60px;
  float: left;
  margin-right: 20px;
}

.offer ul {
  font-size: var(--basic-font-size);
  width: 200px;
  line-height: 40px;
}
.offer ul li::before {
  content: "\2022";
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.offer button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: var(--basic-font-size);
  background-color: #301d9d;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  cursor: pointer;
}

.service {
  font-size: var(--headline-font-size);
}

/*********/
/* Rólam */
/*********/

#aboutme {
  display: flex;
  height: 100vh;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
}
.blureffect {
  display: flex;
  max-height: 700px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: flex-end;
  width: 600px;
  font-size: var(--basic-font-size);
  line-height: 26px;
  text-align: left;
}
.me {
  font-size: var(--headline-font-size);
  margin-bottom: 50px;
}

.abstractPic {
  display: flex;
  position: relative;
  justify-self: flex-end;
  align-self: flex-end;
  height: 300px;
  float: right;
}

img[alt~="blueEye"] {
  position: relative;
  height: 700px;
  width: auto;
}
/*****************/
/* Ajánlatkérés */
/*****************/
#offer {
  display: flex;
  height: 50vh;
  background-color: var(--main-bg-color);
  justify-content: center;
}
.basicOffer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 30px;
  line-height: 25px;
  font-size: var(--middle-font-size);
}
.basicOffer h1 {
  margin-bottom: 20px;
}
.basicOffer p {
  opacity: 70%;
}

.basicOffer button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: var(--basic-font-size);
  background-color: #301d9d;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  cursor: pointer;
}

/************/
/* Contacts */
/************/

#Contacts {
  background-color: #0b0a0f;
  height: 250px;
  display: flex;
  justify-content: center;
}
.conactsBlock {
  width: calc(100% - 400px);
  height: 100%;
}
.Patric_part {
  padding-top: 40px;
  display: flex;
  height: calc(100% - 30px);
  justify-content: space-between;
}
.mail {
  display: flex;
  flex-direction: column;
}
.owner {
  font-size: var(--headline-font-size);
  border-left: 3px solid #fff;
  padding-left: 10px;
}
.ownerContact {
  margin-top: 30px;
}
.ownerContact p {
  opacity: 60%;
  font-size: var(--basic-font-size);
}
.ownerContact a {
  text-decoration: none;
  opacity: 60%;
}
.ownerContact a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 100%;
}
.ownerNavbar {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.bottomNavbar {
  font-size: var(--basic-font-size);
  float: right;
  margin-right: -25px;
}
.bottomNavbar a {
  text-decoration: none;
  opacity: 70%;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}
.bottomNavbar a:hover {
  text-decoration: underline;
  opacity: 100%;
  transform: scaleX(1);
}

.Social_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90px;
}
.cont_icon {
  display: inline;
  background-color: transparent;
  border: none;
  padding: 6px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h3 {
  justify-content: start;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  margin: 0px;
  width: 40px;
}
.crSection {
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 5px;
}
.cr_pic {
  display: flex;
  height: 14px;
  padding-right: 5px;
}
p {
  font-size: var(--basic-font-size);
  font-weight: bold;
}
h6 {
  display: flex;
  font-size: var(--basic-font-size);
  line-height: normal;
  margin-top: 30px;
}

/********************/
/* Képernyő méretek */
/********************/
/*@media screen and (max-width: 1600px) {
  .frstSnw {
    display: none;
  }
}*/
@media screen and (max-width: 1500px) {
  .ownerMain {
    width: 350px;
  }
  .ownerMain h1 {
    font-size: 96px;
  }

  #aboutme {
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 30px;
  }
  .me {
    margin-bottom: 20px;
  }
  .blureffect {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 60%;
    padding: 30px;
  }
  .blureffect img {
    opacity: 60%;
  }
  .aboutme {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 14px;
    z-index: 1;
  }
  .abstractPic {
    display: flex;
    position: absolute;
    height: 300px;
    left: 50px;
    bottom: -100px;
  }

  .pic_me {
    display: flex;
    position: absolute;
    right: -400px;
    filter: blur(10px);
  }
  #offerCards {
    height: auto;
    padding-bottom: 50px;
  }
  .stuffs1 {
    display: flex;
    position: relative;
    align-items: center;
  }
  #content1 {
    height: 100%;
    text-align: center;
    position: relative;
  }
  .blur_cards_slider {
    margin-top: 50px;
  }
  .offer {
    height: auto;
    width: auto;
    margin: 0px 10px;
  }
  .offerHead p {
    font-size: var(--basic-font-size);
  }
  #card-pictures {
    position: relative;
    height: 100%;
  }
  .blur_cards {
    margin-top: 0px;
  }
  .blur_card1,
  .blur_card2,
  .blur_card3 {
    display: flex;
    position: relative;
    width: 900px;
    height: 500px;
    margin: 30px;
  }
  .prev-btn,
  .next-btn {
    display: flex;
    position: absolute;
    height: 100%;
    width: 200px;
  }
}
@media screen and (max-width: 1400px) {
  .ownerMain {
    width: 300px;
  }
  .ownerMain h1 {
    font-size: 86px;
  }
  .ownerMain p {
    font-size: var(--middle-font-size);
  }
  .ownerSocial {
    margin-left: 0px;
    margin-top: 15px;
  }
  /*.firstPic {
     right: -60px;
  }
  .secondPic {
    left: -40px;
  }*/
}
@media screen and (max-width: 1300px) {
  .ownerMain {
    width: 250px;
  }
  .ownerMain h1 {
    font-size: 78px;
  }
}
@media screen and (max-width: 1200px) {
  .menu {
    font-size: var(--basic-font-size);
  }
  .menu a {
    padding: 8px;
  }

  .menuLang {
    font-size: 12px;
    margin: 10px;
  }
  .ownerMain {
    width: 200px;
  }
  .ownerMain h1 {
    font-size: 58px;
  }

  /*****************/
  /* Eszköz kártya */
  /*****************/

  .stuffs {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
  }
  .cam {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .cam .card_top {
    opacity: 80%;
  }
  .card {
    width: auto;
    height: auto;
    padding: 20px 0px;
  }
  .card_top {
    font-size: var(--headline-font-size);
    align-self: center;
    line-height: 60px;
  }
  span {
    color: #bcbcbc;
  }
  .card p {
    font-size: var(--basic-font-size);
    color: grey;
    line-height: 25px;
  }

  img[alt~="lens"] {
    height: 80px;
    width: auto;
    align-self: center;
  }
  img[alt~="photoshop"] {
    height: 80px;
    width: auto;
    align-self: center;
  }
  /*************/
  /*  Galéria  */
  /*************/
  #card-pictures {
    display: table;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: unset;
  }
  .galerie {
    margin-bottom: 50px;
    position: relative;
    margin: 0px;
    left: unset;
    width: auto;
    margin: 20px;
    align-self: center;
  }

  .blur_cards {
    display: flex;
    flex-direction: column;
  }
  .blur_card1,
  .blur_card2,
  .blur_card3 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px;
  }

  .blur_card1::before,
  .blur_card2::before,
  .blur_card3::before {
    background-repeat: no-repeat;
  }
  .blur_card2 button,
  .blur_card1 button,
  .blur_card3 button {
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
  }
  button:hover {
    opacity: 100%;
  }
  .pic_title {
    display: flex;
    position: relative;
    height: 100px;
    font-size: 54px;
    transform: rotate(-90deg);
    top: 60px;
    left: 0;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
  /******************/
  /* Ajánlat kártya */
  /******************/

  #offerCards {
    height: auto;
    padding-top: 40px;
  }
  .stuffs1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-top: 0px;
  }
  .offer {
    width: calc(100% - 20px);
    margin: 20px 0px;
    height: auto;
  }
  .offerHead {
    align-self: center;
  }

  .offer img {
    height: 50px;
    width: 60px;
    float: left;
    margin-right: 20px;
  }

  .offer button {
    width: calc(100% - 20px);
  }
  .service {
    display: flex;
    width: 70%;
    font-size: var(--headline-font-size);
  }

  /*****************/
  /* Ajánlatkérés */
  /*****************/
  #offer {
    display: flex;
    position: relative;
    height: auto;
  }
  .basicOffer {
    display: flex;
    width: 80%;
    margin: 50px 0px;
    text-align: center;
  }
  .basicOffer h1 {
    margin-bottom: 30px;
  }
  .basicOffer p {
    opacity: 70%;
  }

  .basicOffer button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: var(--basic-font-size);
    background-color: #301d9d;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
  }

  /** Kapcsolat **/

  #Contacts {
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    height: auto;
  }
  .conactsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Patric_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .crSection {
    width: 80%;
  }
  .bottomNavbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
    padding-top: 20px;
    font-size: var(--middle-font-size);
  }
  .ownerNavbar {
    display: table;
  }
  .Social_media {
    justify-content: center;
    display: table-header-group;
  }
}
/** Small screens, laptops **/
@media screen and (max-width: 1024px) {
  .menuLang {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .stuffs1 {
    width: 90%;
  }
  .abstractPic {
    display: flex;
    position: absolute;
    height: 300px;
    left: 50px;
  }
  /* Hambureger menu*/
  .menu {
    display: none; /* Alapértelmezett elrejtés kisebb képernyőkön */
    position: absolute;
    z-index: 5;
    background-color: #1c1b20;
  }

  .menu.show {
    display: flex; /* Megjelenítés kattintás után */
    position: fixed;
    height: 100vh;
    align-items: center;
  }
  .menu ul {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--middle-font-size);
  }
  .menu li {
    margin: 0;
    text-align: center;
    height: 50px;
  }

  .hamburger4 {
    display: block; /* Megjelenítés kisebb képernyőkön */
    position: fixed;
    justify-content: center;
    z-index: 6;
    top: 20px;
    left: 20px;
    height: 30px;
  }
}
@media screen and (max-width: 900px) {
  /*.firstPic {
     right: -30px;
  }
  .secondPic {
     left: -20px;
  }*/
  .blur_card1,
  .blur_card2,
  .blur_card3 {
    height: 500px;
  }
}
@media screen and (max-width: 780px) {
  /*.firstPic {
    right: -60px;
  }
  .secondPic {
     left: -40px;
  }*/
  .blureffect {
    width: 80%;
  }
  .abstractPic {
    height: 210px;
    left: -10px;
  }

  .pic_me {
    right: -650px;
  }
}

/** iPads, Tablets **/
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 720px) {
  /*.firstPic {
   right: -80px;
  }
  .secondPic {
     left: -60px;
  }*/
}
/** átmeneti **/
@media screen and (max-width: 600px) {
  /*.firstPic {
    right: -100px;
  }
  .secondPic {
    left: -80px;
  }*/
  .blur_card1,
  .blur_card2,
  .blur_card3 {
    height: 300px;
  }
  .bottomNavbar {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  /*.firstPic {
    right: -150px;
  }
  .secondPic {
     left: -90px;
  }*/
}
/** Small phone **/
@media screen and (max-width: 480px) {
  /* .firstPic {
    right: -200px;
  }
  .secondPic {
    left: -100px;
  }*/
}
