* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /*border: 1px solid red;*/
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}
:root {
  --main-bg-color: #111216;
  --basic-font-size: 18.72px;
  --middle-font-size: 26px;
  --headline-font-size: 36px;
}
/******************/
/* Érkező felület */
/******************/
#logo-title {
  background-color: #1c1b20;
  display: flex;
  position: relative;
  height: 130vh;
  width: 100%;
  overflow: hidden;
}
.headerOutlook {
  width: 100%;
}
.menuLang {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  height: 10px;
  z-index: 2;
  margin: 50px;
}
.menu {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  height: 10px;
  left: 400px;
  z-index: 2;
  font-size: var(--middle-font-size);
  margin: 50px;
}
.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  opacity: 60%;
}

.menu a:hover {
  opacity: 100%;
  text-decoration: underline;
}

.dropdown .dropbtn {
  font-size: var(--middle-font-size);
  display: flex;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  color: transparent;
}

.dropdown-content a {
  color: #1c1b20;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.firstPic {
  height: 100%;
  position: absolute;
  float: right;
  right: 0;
}
.secondPic {
  display: flex;
  position: absolute;
  height: 100%;
  left: 0;
  align-items: flex-end;
}
img[alt~="firstSnow"] {
  height: 90%;
}
img[alt~="artist"] {
  height: 100%;
}

.ownerMain {
  display: flex;
  position: absolute;
  height: auto;
  width: 400px;
  z-index: 1;
  top: 200px;
  left: 670px;
  justify-content: center;
  flex-direction: column;
}
.ownerMain h1 {
  font-size: 124px;
}
.ownerMain p {
  display: flex;
  position: relative;
  align-self: center;
  font-size: var(--headline-font-size);
}
.ownerSocial {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80px;
  margin-left: -150px;
  margin-top: 30px;
}

img {
  height: 30px;
  display: block;
  margin: 0;
}
li {
  display: inline;
  margin: 30px;
  font-style: bold;
}

/*****************/
/* Eszköz kártya */
/*****************/

#content1 {
  display: flex;
  background-color: var(--main-bg-color);
  height: 65vh;
  align-items: center;
  justify-content: center;
}
.stuffs,
.stuffs1 {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 60px;
}
.cam {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
}
.cam .card_top {
  opacity: 80%;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 350px;
  text-align: center;
}
.card_top {
  font-size: var(--headline-font-size);
  align-self: center;
  line-height: 60px;
}
span {
  color: #bcbcbc;
}
.card p {
  font-size: var(--basic-font-size);
  color: grey;
  line-height: 25px;
}

img[alt~="lens"] {
  height: 80px;
  width: auto;
  align-self: center;
}
img[alt~="photoshop"] {
  height: 80px;
  width: auto;
  align-self: center;
}
/*************/
/*  Galéria  */
/*************/
#card-pictures {
  display: flex;
  background-color: var(--main-bg-color);
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}
.galerie {
  display: flex;
  position: absolute;
  align-self: flex-start;
  height: auto;
  font-size: var(--headline-font-size);
  z-index: 2;
  left: 100px;
  opacity: 70%;
}
.blur_cards {
  display: flex;
}
.blur_card1,
.blur_card2,
.blur_card3 {
  display: flex;
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 30px;
}

.blur_card1::before {
  content: "";
  background-image: url(./IMG_Photos/st7.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card2::before {
  content: "";
  background-image: url(./IMG_Photos/p2.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card3::before {
  content: "";
  background-image: url(./IMG_Photos/sp1.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}
.blur_card2 button,
.blur_card1 button,
.blur_card3 button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: var(--basic-font-size);
  z-index: 2;
  cursor: pointer;
  border: 2px solid #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 70%;
  bottom: 50px;
  right: 50px;
}
button:hover {
  opacity: 100%;
}
.pic_title {
  display: flex;
  position: relative;
  height: 100px;
  font-size: 54px;
  transform: rotate(-90deg);
  top: 60px;
  left: 0;
}
.prev-btn,
.next-btn {
  display: flex;
  position: absolute;
  height: 100%;
  width: 300px;
}
.next-btn {
  right: 0px;
}
.prev-btn {
  left: 0px;
}
/******************/
/* Ajánlat kártya */
/******************/

#offerCards {
  display: flex;
  background-color: var(--main-bg-color);
  height: 65vh;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column;
}
.offer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1d2027;
  height: 450px;
  width: 400px;
  align-items: flex-start;
  padding: 20px;
  border-radius: 20px;
}

.offerHead {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 10px;
}

.offerHead p {
  font-size: var(--middle-font-size);
}

.offer img {
  height: 50px;
  width: 60px;
  float: left;
  margin-right: 20px;
}

.offer ul {
  font-size: var(--basic-font-size);
  width: 200px;
  line-height: 40px;
}
.offer ul li::before {
  content: "\2022";
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.offer button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: var(--basic-font-size);
  background-color: #301d9d;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  cursor: pointer;
}

.service {
  font-size: var(--headline-font-size);
}

/*********/
/* Rólam */
/*********/

#aboutme {
  display: flex;
  height: 100vh;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
}
.blureffect {
  display: flex;
  max-height: 700px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: flex-end;
  width: 600px;
  font-size: var(--basic-font-size);
  line-height: 26px;
  text-align: left;
}
.me {
  font-size: var(--headline-font-size);
  margin-bottom: 50px;
}

.abstractPic {
  display: flex;
  position: relative;
  justify-self: flex-end;
  align-self: flex-end;
  height: 300px;
  float: right;
}

img[alt~="blueEye"] {
  position: relative;
  height: 700px;
  width: auto;
}
/*****************/
/* Ajánlatkérés */
/*****************/
#offer {
  display: flex;
  height: 50vh;
  background-color: var(--main-bg-color);
  justify-content: center;
}
.basicOffer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 30px;
  line-height: 25px;
  font-size: var(--middle-font-size);
}
.basicOffer h1 {
  margin-bottom: 20px;
}
.basicOffer p {
  opacity: 70%;
}

.basicOffer button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: var(--basic-font-size);
  background-color: #301d9d;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  cursor: pointer;
}

/************/
/* Contacts */
/************/

#Contacts {
  background-color: #0b0a0f;
  height: 250px;
  display: flex;
  justify-content: center;
}
.conactsBlock {
  width: calc(100% - 400px);
  height: 100%;
}
.Patric_part {
  padding-top: 40px;
  display: flex;
  height: calc(100% - 30px);
  justify-content: space-between;
}
.mail {
  display: flex;
  flex-direction: column;
}
.owner {
  font-size: var(--headline-font-size);
  border-left: 3px solid #fff;
  padding-left: 10px;
}
.ownerContact {
  margin-top: 30px;
}
.ownerContact p {
  opacity: 60%;
  font-size: var(--basic-font-size);
}
.ownerContact a {
  text-decoration: none;
  opacity: 60%;
}
.ownerContact a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 100%;
}
.ownerNavbar {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.bottomNavbar {
  font-size: var(--basic-font-size);
  float: right;
  margin-right: -25px;
}
.bottomNavbar a {
  text-decoration: none;
  opacity: 70%;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}
.bottomNavbar a:hover {
  text-decoration: underline;
  opacity: 100%;
  transform: scaleX(1);
}

.Social_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90px;
}
.cont_icon {
  display: inline;
  background-color: transparent;
  border: none;
  padding: 6px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h3 {
  justify-content: start;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  margin: 0px;
  width: 40px;
}
.crSection {
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 5px;
}
.cr_pic {
  display: flex;
  height: 14px;
  padding-right: 5px;
}
p {
  font-size: var(--basic-font-size);
  font-weight: bold;
}
h6 {
  display: flex;
  font-size: var(--basic-font-size);
  line-height: normal;
  margin-top: 30px;
}

/********************/
/* Képernyő méretek */
/********************/

/** Small screens, laptops **/
@media screen and (max-width: 1024px) {
}

/** iPads, Tablets **/
@media screen and (max-width: 768px) {
}
/** Mobile devices **/
@media screen and (max-width: 480px) {
  #logo-title {
    height: 60vh;
  }
  .menuLang {
    display: none;
  }
  .menu {
    flex-wrap: wrap;
    height: auto;
    left: 0px;
    font-size: var(--basic-font-size);
    margin: 20px 0px;
    width: 100%;
    padding: 0px 10px;
    justify-content: center;
  }
  .menu a {
    padding: 8px;
  }

  .firstPic {
    display: flex;
    position: absolute;
    right: -250px;
  }
  .secondPic {
    display: flex;
    position: absolute;
    left: -100px;
  }

  .ownerMain {
    position: sticky;
    width: 250px;
    top: 140px;
    left: 150px;
  }
  .ownerMain h1 {
    font-size: 58px;
  }
  .ownerMain p {
    display: flex;
    position: relative;
    align-self: center;
    font-size: var(--basic-font-size);
  }
  .ownerSocial {
    display: flex;
    align-self: center;
    width: 80px;
    margin-left: -30px;
    margin-top: 15px;
  }

  /*****************/
  /* Eszköz kártya */
  /*****************/

  #content1 {
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .stuffs {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
  }
  .cam {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .cam .card_top {
    opacity: 80%;
  }
  .card {
    width: auto;
    height: auto;
    padding: 20px 0px;
  }
  .card_top {
    font-size: var(--headline-font-size);
    align-self: center;
    line-height: 60px;
  }
  span {
    color: #bcbcbc;
  }
  .card p {
    font-size: var(--basic-font-size);
    color: grey;
    line-height: 25px;
  }

  img[alt~="lens"] {
    height: 80px;
    width: auto;
    align-self: center;
  }
  img[alt~="photoshop"] {
    height: 80px;
    width: auto;
    align-self: center;
  }
  /*************/
  /*  Galéria  */
  /*************/
  #card-pictures {
    display: table;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: unset;
  }
  .galerie {
    margin-bottom: 50px;
    position: relative;
    margin: 0px;
    left: unset;
    width: auto;
    margin: 20px;
    align-self: center;
  }
  .blur_cards_slider {
    margin-top: 0px;
  }
  .blur_cards {
    display: flex;
    flex-direction: column;
  }
  .blur_card1,
  .blur_card2,
  .blur_card3 {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0px;
  }

  .blur_card1::before,
  .blur_card2::before,
  .blur_card3::before {
    background-repeat: no-repeat;
  }
  .blur_card2 button,
  .blur_card1 button,
  .blur_card3 button {
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
  }
  button:hover {
    opacity: 100%;
  }
  .pic_title {
    display: flex;
    position: relative;
    height: 100px;
    font-size: 54px;
    transform: rotate(-90deg);
    top: 60px;
    left: 0;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
  /******************/
  /* Ajánlat kártya */
  /******************/

  #offerCards {
    height: auto;
    padding-top: 40px;
  }
  .stuffs1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 0px;
  }
  .offer {
    width: calc(100% - 20px);
    margin: 20px 0px;
    height: auto;
  }

  .offerHead p {
    font-size: var(--basic-font-size);
  }

  .offer img {
    height: 50px;
    width: 60px;
    float: left;
    margin-right: 20px;
  }

  .offer button {
    width: calc(100% - 20px);
  }
  .service {
    display: flex;
    width: 70%;
    font-size: var(--headline-font-size);
  }

  /*********/
  /* Rólam */
  /*********/

  #aboutme {
    overflow: hidden;
    position: relative;
    height: auto;
    padding-top: 30px;
  }
  .blureffect {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 30px;
  }
  .blureffect img {
    opacity: 60%;
  }

  .aboutme {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 14px;
    z-index: 1;
  }
  .abstractPic {
    display: flex;
    position: absolute;
    height: 210px;
    left: -10px;
  }

  .pic_me {
    display: flex;
    position: absolute;
    right: -650px;
    filter: blur(10px);
  }
  .me {
    margin-bottom: 10px;
  }
  /*****************/
  /* Ajánlatkérés */
  /*****************/
  #offer {
    display: flex;
    position: relative;
    height: auto;
  }
  .basicOffer {
    display: flex;
    width: 80%;
    margin: 50px 0px;
    text-align: center;
  }
  .basicOffer h1 {
    margin-bottom: 30px;
  }
  .basicOffer p {
    opacity: 70%;
  }

  .basicOffer button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: var(--basic-font-size);
    background-color: #301d9d;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
  }

  /** Kapcsolat **/

  #Contacts {
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    height: auto;
  }
  .conactsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Patric_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .crSection {
    width: 80%;
  }
  .bottomNavbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding-top: 20px;
    font-size: var(--middle-font-size);
  }
  .ownerNavbar {
    display: table;
  }
  .Social_media {
    justify-content: center;
    display: table-header-group;
  }
}
