.image-placeholder1 {
  background-image: url("https://drive.google.com/thumbnail?id=1GePdR5R1Xvge2b5zkjBFfaJj0qE9-XgV&sz=w1000");
}
.image-placeholder2 {
  background-image: url("https://drive.google.com/thumbnail?id=1H_XRHcZcJeH2cnBaqTZHR3Zrto395nYX&sz=w1000");
}
.image-placeholder3 {
  background-image: url("https://drive.google.com/thumbnail?id=1N-JxzvTtUaHhtVOHRxMFIoO9eVHRgPwY&sz=w1000");
}
.image-placeholder4 {
  background-image: url("https://drive.google.com/thumbnail?id=1PMCkIw0F6fprwAj7zW15RxIVuau2xZvz&sz=w1000");
}
.image-placeholder5 {
  background-image: url("https://drive.google.com/thumbnail?id=1KKSlQmceSAzoTi3_TIyvOVbrXyIvej-4&sz=w1000");
}
.image-placeholder6 {
  background-image: url("https://drive.google.com/thumbnail?id=1RW8kEav1ooMkYwBbakvlnBGWwIWWSTYp&sz=w1000");
}
.image-placeholder7 {
  background-image: url("https://drive.google.com/thumbnail?id=1EuwgWjBLExztQugbRqjzAAIFvkXUfXch&sz=w1000");
}
.image-placeholder8 {
  background-image: url("https://drive.google.com/thumbnail?id=1lcP2hzKxj9vVxCqRpO638xRXsmi9OfJM&sz=w1000");
}
.image-placeholder9 {
  background-image: url("https://drive.google.com/thumbnail?id=1LlFNtpkdk873NqCGS-8OR6Tfst-06pUX&sz=w1000");
}
.image-placeholder10 {
  background-image: url("https://drive.google.com/thumbnail?id=13x5USDTsbPXFbR5tvF-bJtt_9vGJ2UAS&sz=w1000");
}
.image-placeholder11 {
  background-image: url("https://drive.google.com/thumbnail?id=16jPMIEWsryZw15jewXyKIdSsktmXOt9U&sz=w1000");
}
.image-placeholder12 {
  background-image: url("https://drive.google.com/thumbnail?id=16iIMU01L8552Cp4oVDW3fTUws4jTQLp0&sz=w1000");
}
.image-placeholder13 {
  background-image: url("https://drive.google.com/thumbnail?id=1iEB3CyoE12MhG71gGTNUNBi1fLpOnKzZ&sz=w1000");
}
.image-placeholder14 {
  background-image: url("https://drive.google.com/thumbnail?id=1FWjlh0zbA-Rxlf_iM50kvufOGVIWcfq1&sz=w1000");
}
.image-placeholder15 {
  background-image: url("https://drive.google.com/thumbnail?id=1K2De__peSY2Lem3DCly6-SbuhfvLkjmP&sz=w1000");
}
.image-placeholder16 {
  background-image: url("https://drive.google.com/thumbnail?id=1mU1TvOvbp7APrm_slpbaD0RSR_1BK_TO&sz=w1000");
}
.image-placeholder17 {
  background-image: url("https://drive.google.com/thumbnail?id=1r_EA8eSmMFbuvmvbubbF1VQH0xF1c9P7&sz=w1000");
}
.image-placeholder18 {
  background-image: url("https://drive.google.com/thumbnail?id=1_4bdkKyvOhgjaGYpWiBYJwOW1IGAISqr&sz=w1000");
}
.image-placeholder19 {
  background-image: url("https://drive.google.com/thumbnail?id=1HYXQXWt28TCp-5no6M90-WAVm0-_yMAL&sz=w1000");
}
.image-placeholder20 {
  background-image: url("https://drive.google.com/thumbnail?id=1aIai3-8tpGMmAkOXnBBqJLG9jYozpXNZ&sz=w1000");
}
.image-placeholder21 {
  background-image: url("https://drive.google.com/thumbnail?id=16jPMIEWsryZw15jewXyKIdSsktmXOt9U&sz=w1000");
}
.image-placeholder22 {
  background-image: url("https://drive.google.com/thumbnail?id=15doa8q_WVIw5NP2IxeIXjXLBLTCMy1UK&sz=w1000");
}
.image-placeholder23 {
  background-image: url("https://drive.google.com/thumbnail?id=1i7BQtCOYa0vU4453iVOjyuoigaK6beia&sz=w1000");
}
.image-placeholder24 {
  background-image: url("https://drive.google.com/thumbnail?id=1rnnWi_oRnDt5fQFnce3Qhu_FNLJoMIqC&sz=w1000");
}
