.image-placeholder25,
.image-placeholder26,
.image-placeholder27,
.image-placeholder28,
.image-placeholder29,
.image-placeholder30,
.image-placeholder31,
.image-placeholder32,
.image-placeholder33,
.image-placeholder34,
.image-placeholder35,
.image-placeholder36,
.image-placeholder37,
.image-placeholder38 {
  padding-top: 100%;
  background-color: #ffffff; /* Háttérszín a skeleton képnek */
  background-position: center; /* A háttérkép középre igazítása */
  background-repeat: no-repeat; /* Megakadályozza a háttérkép ismétlődését */
  background-size: contain;
}

.image-placeholder1 {
  background-image: url("https://drive.google.com/thumbnail?id=12KF8o_9Im8y5Qww4Amq-BIIV-Z7fHuAh&sz=w1000");
}
.image-placeholder2 {
  background-image: url("https://drive.google.com/thumbnail?id=13vnMy1cRTVozSSjwe038hHpwD2cFXXEP&sz=w1000");
}
.image-placeholder3 {
  background-image: url("https://drive.google.com/thumbnail?id=15zUlR814QTPjyjflK5yX1jx6Jhho8kGn&sz=w1000");
}
.image-placeholder4 {
  background-image: url("https://drive.google.com/thumbnail?id=16gsSwEAjGoVD-Ob4ci8ytDLetZjA9BQX&sz=w1000");
}
.image-placeholder5 {
  background-image: url("https://drive.google.com/thumbnail?id=18Om835qPKJPvlRQXoUKqmMFZSJbUk7_y&sz=w1000");
}
.image-placeholder6 {
  background-image: url("https://drive.google.com/thumbnail?id=1BL2VJLiQ7onFGdQmI2E-Jj16P66CvcPc&sz=w1000");
}
.image-placeholder7 {
  background-image: url("https://drive.google.com/thumbnail?id=1Cdsij8QIOReMB_4yfaSa541oBJ_hSZWa&sz=w1000");
}
.image-placeholder8 {
  background-image: url("https://drive.google.com/thumbnail?id=1DPZ-yDqF1OPfnmQRsMizRuHu7JSRU-IU&sz=w1000");
}
.image-placeholder9 {
  background-image: url("https://drive.google.com/thumbnail?id=1FQzjlqNUbOKMvatV3OcoOyR1LWO7LVC2&sz=w1000");
}
.image-placeholder10 {
  background-image: url("https://drive.google.com/thumbnail?id=1FahaaTxPx4GSZKRxWe3Kr2sdQgaI_-Lq&sz=w1000");
}
.image-placeholder11 {
  background-image: url("https://drive.google.com/thumbnail?id=1GaQFe2sbS5tu9JF99JJf0ZDDxi9S7_x2&sz=w1000");
}
.image-placeholder12 {
  background-image: url("https://drive.google.com/thumbnail?id=1GtzccSK6rwBylT5IYmYRYr2MKItSCJQT&sz=w1000");
}
.image-placeholder13 {
  background-image: url("https://drive.google.com/thumbnail?id=1Kqx3WF1OBxHkhp79J8SlB1rHjn8eYYPv&sz=w1000");
}
.image-placeholder14 {
  background-image: url("https://drive.google.com/thumbnail?id=1MeSdCoRrxUiX_YJRv7HbwZ5SGL0qMbyW&sz=w1000");
}
.image-placeholder15 {
  background-image: url("https://drive.google.com/thumbnail?id=1Nn1mnwsncU6j9s08qgB9elS-J4yYvFfC&sz=w1000");
}
.image-placeholder16 {
  background-image: url("https://drive.google.com/thumbnail?id=1PArwHcFiSfUU-5exnDVMw7fTjl2IL7MB&sz=w1000");
}
.image-placeholder17 {
  background-image: url("https://drive.google.com/thumbnail?id=1TXZvXtCrXNEH3IoZn64hnOWG9TomltWf&sz=w1000");
}
.image-placeholder18 {
  background-image: url("https://drive.google.com/thumbnail?id=1ZAeZNqDpjbPFr6F09M32iu2MXjW1f3Af&sz=w1000");
}
.image-placeholder19 {
  background-image: url("https://drive.google.com/thumbnail?id=1ZFXtQZFR-OJ7dLTrI7f0rbkLLC77uCbh&sz=w1000");
}
.image-placeholder20 {
  background-image: url("https://drive.google.com/thumbnail?id=1bCpZhIb5VBlZHilR8u8cFCq0FizO0eyF&sz=w1000");
}
.image-placeholder21 {
  background-image: url("https://drive.google.com/thumbnail?id=1c8Be9dAmWKsXZQ1c7BjH7nEhcKB3eZQC&sz=w1000");
}
.image-placeholder22 {
  background-image: url("https://drive.google.com/thumbnail?id=1iEBvcFD5pmGt_oiEMw38lG-h3MBgB7DK&sz=w1000");
}
.image-placeholder23 {
  background-image: url("https://drive.google.com/thumbnail?id=1jRDAE3uq7C8Yxf94lM2kehc8YQeuhmxi&sz=w1000");
}
.image-placeholder24 {
  background-image: url("https://drive.google.com/thumbnail?id=1k-EC-u6fx_QOWTf4DEkvHRdEwxn4gcJP&sz=w1000");
}
.image-placeholder25 {
  background-image: url("https://drive.google.com/thumbnail?id=1m7VoplFPGGvp5S3mlmrdc7vlcHZu-5o3&sz=w1000");
}
.image-placeholder26 {
  background-image: url("https://drive.google.com/thumbnail?id=1mxGEBINALiJ9_dvmQe0RnIiGHrlnGSss&sz=w1000");
}
.image-placeholder27 {
  background-image: url("https://drive.google.com/thumbnail?id=1nORMcTRLrqqzXajlrTgRRjWPyFctKcU6&sz=w1000");
}
.image-placeholder28 {
  background-image: url("https://drive.google.com/thumbnail?id=1nqUZuzvMyECtN07FX1qLJCKs3UGMMhWM&sz=w1000");
}
.image-placeholder29 {
  background-image: url("https://drive.google.com/thumbnail?id=1pMnMBaH6Nd8tVw3VUvGs4HO0dLZh2aGD&sz=w1000");
}
.image-placeholder30 {
  background-image: url("https://drive.google.com/thumbnail?id=1rOa7XUYZTmLgIRkFAZohNTdFbDqiUGd2&sz=w1000");
}
.image-placeholder31 {
  background-image: url("https://drive.google.com/thumbnail?id=1ud4dKXmyEb5u7e-Fr7K06x2AFoKbx7-G&sz=w1000");
}
.image-placeholder32 {
  background-image: url("https://drive.google.com/thumbnail?id=1uqQOwcY1gPM-mcIgTX8-MuD0ZFV9FFyI&sz=w1000");
}

.image-placeholder33 {
  background-image: url("https://drive.google.com/thumbnail?id=1vo8kvaOc5rp0qtrOq6IBVi5CLoRYLUOg&sz=w1000");
}

.image-placeholder34 {
  background-image: url("https://drive.google.com/thumbnail?id=1wGfmBGI97HqwdvImNWaFuRBU3Ijca67u&sz=w1000");
}

.image-placeholder35 {
  background-image: url("https://drive.google.com/thumbnail?id=1xakA59HmjHyed2RZLFrNsdXE0RvsL5P2&sz=w1000");
}

.image-placeholder36 {
  background-image: url("https://drive.google.com/thumbnail?id=1xrsOo6-XxdrKJQyah5GyKWp5U3kO0FVz&sz=w1000");
}

.image-placeholder37 {
  background-image: url("https://drive.google.com/thumbnail?id=1y4RhsxUjFSjX_tqchSXltwwnmV1k5Hhm&sz=w1000");
}

.image-placeholder38 {
  background-image: url("https://drive.google.com/thumbnail?id=1zuAEeZd3vUk7SAuuMLOv_XwDdZy1Zu89&sz=w1000");
}
