.image-placeholder28,
.image-placeholder29,
.image-placeholder30,
.image-placeholder31,
.image-placeholder32,
.image-placeholder33,
.image-placeholder34,
.image-placeholder35,
.image-placeholder36,
.image-placeholder37,
.image-placeholder38,
.image-placeholder39 {
  padding-top: 100%;
  background-color: #a09f9f; /* Háttérszín a skeleton képnek */
  background-position: center; /* A háttérkép középre igazítása */
  background-repeat: no-repeat; /* Megakadályozza a háttérkép ismétlődését */
  background-size: cover;
}

.image-placeholder1 {
  background-image: url("https://drive.google.com/thumbnail?id=123fLYMITfjCx5xqmSjMea6h-1V6SYtOz&sz=w1000");
}
.image-placeholder2 {
  background-image: url("https://drive.google.com/thumbnail?id=1688Guz5qacXCCXMchP55HawmGSUun9sl&sz=w1000");
}
.image-placeholder3 {
  background-image: url("https://drive.google.com/thumbnail?id=177rFLYsAdezMb58MqHnnnqMnocUjNxP3&sz=w1000");
}
.image-placeholder4 {
  background-image: url("https://drive.google.com/thumbnail?id=19Wig1onUOe-jiP98T5VVfSVadg2RdvQX&sz=w1000");
}
.image-placeholder5 {
  background-image: url("https://drive.google.com/thumbnail?id=19x4U3WSOxQ6pa4MF-tFEtud9z8DnBG8N&sz=w1000");
}
.image-placeholder6 {
  background-image: url("https://drive.google.com/thumbnail?id=1CqyM74CvSTxDRrfAJiVe7HlmTrNjs6IJ&sz=w1000");
}
.image-placeholder7 {
  background-image: url("https://drive.google.com/thumbnail?id=1DF1n8fpn_TFJKLqDWtpeM_ZAWswW-v-J&sz=w1000");
}
.image-placeholder8 {
  background-image: url("https://drive.google.com/thumbnail?id=1HRT7y-Rt6vgfjENc9zQJokpreOtW1e8p&sz=w1000");
}
.image-placeholder9 {
  background-image: url("https://drive.google.com/thumbnail?id=1IPIZ_Wt4jpHBT6Ke1z0Kpzcr8bJTEVcq&sz=w1000");
}
.image-placeholder10 {
  background-image: url("https://drive.google.com/thumbnail?id=1JKdRGt2eJ6iEuDNImGYWxokB1kyYe3_R&sz=w1000");
}
.image-placeholder11 {
  background-image: url("https://drive.google.com/thumbnail?id=1KJEz9PoEQIHcw71H9fPbjwOaPqozfzki&sz=w1000");
}
.image-placeholder12 {
  background-image: url("https://drive.google.com/thumbnail?id=1LJNNfaouqHSPDej1tO3n7TmO6x336znt&sz=w1000");
}
.image-placeholder13 {
  background-image: url("https://drive.google.com/thumbnail?id=1R9i-u9ClA9YEtXTt5aybqMDslj2ZZkYu&sz=w1000");
}
.image-placeholder14 {
  background-image: url("https://drive.google.com/thumbnail?id=1TFVu1Trs3_pwZNyl9STrJ0V9AfA71-HK&sz=w1000");
}
.image-placeholder15 {
  background-image: url("https://drive.google.com/thumbnail?id=1TS7HjF7Iku_ZtYa-eQh6LkO1PwEQDDCC&sz=w1000");
}
.image-placeholder16 {
  background-image: url("https://drive.google.com/thumbnail?id=1UaBU5-deMPisiwnq4CYmuTSnn_d_pmPE&sz=w1000");
}
.image-placeholder17 {
  background-image: url("https://drive.google.com/thumbnail?id=1WiygpUlZew_hmvny79Glj4hABP8xOCLr&sz=w1000");
}
.image-placeholder18 {
  background-image: url("https://drive.google.com/thumbnail?id=1XHfpJDfK2u0QMj-8J91UQnbiMsJRJbUK&sz=w1000");
}
.image-placeholder19 {
  background-image: url("https://drive.google.com/thumbnail?id=1YUMJYfwoay4M3je4Haq_MVjCbJB_zYkQ&sz=w1000");
}
.image-placeholder20 {
  background-image: url("https://drive.google.com/thumbnail?id=1c6Svx2JbSQ7mcZ0kPE_YbVNKlCpOKIoJ&sz=w1000");
}
.image-placeholder21 {
  background-image: url("https://drive.google.com/thumbnail?id=1cD4lLkh9ksXjbQmGOiDZwA7MnWvjZgoK&sz=w1000");
}
.image-placeholder22 {
  background-image: url("https://drive.google.com/thumbnail?id=1ehQB99JHSkX4NwG8bB6fAifbXSIjB5ef&sz=w1000");
}
.image-placeholder23 {
  background-image: url("https://drive.google.com/thumbnail?id=1eir3MpkUFeHoXPRYARsy7b3HaETChW48&sz=w1000");
}
.image-placeholder24 {
  background-image: url("https://drive.google.com/thumbnail?id=1f4s9ZOx_1NAp_vw-VqwsLVMQR7hiQFHd&sz=w1000");
}
.image-placeholder25 {
  background-image: url("https://drive.google.com/thumbnail?id=1gn6HJTBrE_2jWOrdutrqlEVyR2XV6XHG&sz=w1000");
}
.image-placeholder26 {
  background-image: url("https://drive.google.com/thumbnail?id=1h3Tu97YLGmqgyaawAZ-IG_bt4Z5zi85d&sz=w1000");
}
.image-placeholder27 {
  background-image: url("https://drive.google.com/thumbnail?id=1i04J9Vnp8Ix5LhDNycxz7xUiJklRmVai&sz=w1000");
}
.image-placeholder28 {
  background-image: url("https://drive.google.com/thumbnail?id=1iBka6-q4hq2-syQQ5ejGktZrJAbuGRj2&sz=w1000");
}
.image-placeholder29 {
  background-image: url("https://drive.google.com/thumbnail?id=1in6cTUhG_0i3FysXjZfzEO01XkW_yuHi&sz=w1000");
}
.image-placeholder30 {
  background-image: url("https://drive.google.com/thumbnail?id=1jWOUafA5NqblaMtlpTIaQ24LcwQGwxoa&sz=w1000");
}
.image-placeholder31 {
  background-image: url("https://drive.google.com/thumbnail?id=1nF_4KxCPxyQVEIdwpbKdMx3bQECLQlbO&sz=w1000");
}
.image-placeholder32 {
  background-image: url("https://drive.google.com/thumbnail?id=1oawfFZzV3eGIolTJWVFfgcJYnIx1Uw_K&sz=w1000");
}
.image-placeholder33 {
  background-image: url("https://drive.google.com/thumbnail?id=1pdsTPB924PLfUUzQJz9dI30MHSUQFNgf&sz=w1000");
}
.image-placeholder34 {
  background-image: url("https://drive.google.com/thumbnail?id=1rY74hfKSkmUAdpF7cTY09KQH2XZN_BDN&sz=w1000");
}
.image-placeholder35 {
  background-image: url("https://drive.google.com/thumbnail?id=1tG1d4ZRB7I3lmwPfUXeAXh22o94A7M0B&sz=w1000");
}
.image-placeholder36 {
  background-image: url("https://drive.google.com/thumbnail?id=1vz27zrppqmUXzYEFmu2WRA1UjbteOT2i&sz=w1000");
}
.image-placeholder37 {
  background-image: url("https://drive.google.com/thumbnail?id=1wXJ4DBCPQckZrlXrL42CnAc6QgjR724U&sz=w1000");
}
.image-placeholder38 {
  background-image: url("https://drive.google.com/thumbnail?id=1whOB8jPGsvBHWPtCN-yku5pom_0wkRBU&sz=w1000");
}
.image-placeholder39 {
  background-image: url("https://drive.google.com/thumbnail?id=1xTkiCRR8-Ws8XBEn7ChHJkl8YLjl5NAo&sz=w1000");
}
